html {
    background-image: url(images/1-big-viburnum.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    margin: 0;
}

h1, h2, ul, p {
    margin: 0;
    padding: 10px 10px;
}

ul {
    padding: 10px 10px 10px 50px;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.header {
    background-color: rgba(255, 255, 255, 0.7);

    border-left-color: rgb(31, 121, 31);
    border-left-width: 4px;
    border-left-style: solid;

    border-right-color: rgb(31, 121, 31);
    border-right-width: 4px;
    border-right-style: solid;
}

.main {
    background-color: rgba(255, 255, 255, 0.7);
    
    border-left-color: rgb(31, 121, 31);
    border-left-width: 4px;
    border-left-style: solid;

    border-right-color: rgb(31, 121, 31);
    border-right-width: 4px;
    border-right-style: solid;
}

